body {
  background-color: lightblue; 
}

h1 {
  color: rgb(34, 50, 139); 
  text-align: center; 
}

p {
    color: whitesmoke;
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    text-align: center;
}

